.content .input_wrap{
	width: 100%;
	height: 2.6rem;
	padding:0.8rem 0.5rem;
	background-color:#ffffff;
	overflow: hidden;
	border-bottom: 1px solid #E8E8E8;
}
.content .input_wrap label{
	display: inline-block;
	width: 4rem;
	height: 1rem;
	font-size: 0.7rem;
	float: left;
}
.content .input_wrap input{
	float: left;
	width: 10rem;
	outline: none;
	border: none;
	height: 1rem;
	font-size: 0.6rem;
	line-height: 0.8rem;
}
.content .file .title{ 
	width: 100%;
	font-size:0.6rem ;
	height: 0.825rem;
	line-height: 0.825rem;
	margin: 0.75rem 0rem 0.4rem;
	padding: 0 0.5rem;
}
.content .file .course_introduction{
    resize: none;
    width: 100%;
    height: 3.75rem;
    font-size: 0.6rem;
    border: none;
    padding: 0.65rem 0.5rem;
}
.content .file .file_img{
	width: 100%;
	height:4.4rem;
	background-color: #FFFFFF;
	padding: 0.75rem;
}
.content .file .file_img .img_previev{
	display: inline-block;
	width: 2.9rem;
	height: 2.9rem;
	background: url(http://cache.yhctech.com/static/img/1486180602newpic.png) no-repeat;
	background-size: 100% 100%;
	border: 1px solid #DCDBDB;
}
.content .file .file_img .img_previev .file_pic{
	display: block;
	width: 100%;
	height: 100%;
}
.content .file .file_img .img_previev input{
	display: none;
}
.content .input_wrap  .radio{
	width: 0.7rem;
	margin: 0.15rem 0.425rem;
}
.btn{
	width: 17.7rem;
	height: 2rem;
	border-radius: 2.5rem;
	text-align: center;
	font-size: 0.6rem;
	color: #FFFFFF;
	line-height: 2rem;
	margin: 1.5rem auto 1rem;
	}
